---
import type { ISocial } from "../../types/social";
import type { ICategory } from "../../types/category";

import { Image } from "astro:assets";

import PostMeta from "../PostMeta.astro";

interface Props {
    title: string;
    slug: string;
    image: {
        url: string;
        alt: string;
    };
    destination: string;
    categories: ICategory[];
    author: {
        name: string;
        avatar: string;
    };
    pubDate: Date;
    socials: ISocial[];
}

const {
    title,
    slug,
    image: { url, alt },
    destination,
    categories,
    author,
    pubDate,
    socials,
} = Astro.props;
---

<article class="article">
    <div class="post-header">
        <a class="ui-post-destination" href="/destinations/brazil"
            >{destination}</a
        >
        <h3 class="ui-post-title m-l">
            <a href={`/posts/${slug}`}>{title}</a>
        </h3>
        <ul>
            {
                categories.map((category) => (
                    <li>
                        <a
                            class="ui-post-category"
                            href={`/category/${category}`}
                        >
                            {categories}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <a href={`/posts/${slug}`}>
        <Image
            class="img"
            src={`/${url}`}
            width="800"
            height="1157"
            alt={alt}
        />
    </a>
    <div class="reading-link">
        <a href={`/posts/${slug}`} class="link">Keep reading...</a>
    </div>
    <PostMeta
        author={author}
        socials={socials}
        pubDate={pubDate}
        categories={categories}
        likesCount={0}
        commentsCount={0}
    />
</article>

<style>
    .article {
        text-align: center;
    }
    .post-header {
        margin-bottom: 30px;
    }
    .img {
        object-fit: cover;
    }
    .reading-link {
        margin-top: 45px;

        .link {
            text-transform: uppercase;
            letter-spacing: var(--letter-spacing-default);
            line-height: 2em;
            font-size: 12px;
            font-family: var(--family-montserrat);
            font-weight: var(--weight-medium);
            color: var(--color-black);

            &:hover {
                color: var(--color-black-0);
            }
        }
    }
</style>
