---
import type { Post } from "../../types/post";

import { Image } from "astro:assets";

import PostMeta from "../PostMeta.astro";

interface Props {
    frontmatter: Post;
}

const {
    frontmatter: {
        title,
        slug,
        description,
        image: { url, alt },
        destination,
        categories,
        author,
        pubDate,
        socials,
    },
} = Astro.props;
---

<article class="article">
    <div class="post-header">
        <a class="ui-post-destination" href="/destinations/brazil"
            >{destination}</a
        >
        <h3 class="ui-post-title m-l">
            <a href={`/posts/${slug}`}>{title}</a>
        </h3>
        <ul class="categories">
            {
                categories.map((category) => (
                    <li>
                        <a
                            class="ui-post-category"
                            href={`/category/${category}`}
                        >
                            {category}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
    <a class="img-link" href={`/posts/${slug}`}>
        <Image
            class="img"
            src={`/${url}`}
            width="800"
            height="1157"
            alt={alt}
        />
    </a>
    <p class="description">{description}</p>
    <div class="button">
        <a href={`/posts/${slug}`} class="ui-button-text">Keep reading...</a>
    </div>
    <PostMeta
        author={author}
        socials={socials ?? []}
        pubDate={pubDate}
        categories={categories}
        likesCount={0}
        commentsCount={0}
    />
</article>

<style>
    .article {
        text-align: center;
    }
    .post-header {
        margin-bottom: 30px;
    }
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    .img-link {
        display: block;
        margin-bottom: 30px;
        max-height: 867px;
    }
    .img {
        max-height: inherit;
        object-fit: cover;
    }
    .description {
        padding: 0 12%;
        font-family: var(--family-lora);
        color: var(--color-dark);
    }
    .button {
        margin-top: 35px;
    }
</style>
