---
import type { ECategory } from '../types/category';
import type { ISocial, IImageMetadata } from "../types/social";

import { Image } from "astro:assets";

import FormattedDate from "./FormattedDate.astro";

import BookmarkSVG from "../../public/svg/bookmark.svg";
import HeartSVG from "../../public/svg/heart.svg";
import CommentSVG from "../../public/svg/comment.svg";

interface Props {
    author: {name: string; avatar: string;}
    pubDate: Date;
    socials: ISocial[];
    categories: ECategory[];
    likesCount: number;
    commentsCount: number;
}

const { author, socials, pubDate, categories, likesCount, commentsCount } = Astro.props;

const socialSvgs: IImageMetadata = {
    facebook: "/svg/facebook-circle.svg",
    pinterest: "/svg/pinterest-circle.svg",
    twitter: "/svg/twitter-circle.svg",
};
---

<div class="meta">
    <div class="meta-top">
        {
            categories && (
            <div class="categories">
                    <Image
                        src={BookmarkSVG}
                        alt="Bookmark icon"
                        width="15"
                        height="15"
                    />
                    <ul class="categories-list">
                        {categories.map((category) => (
                            <li class="category">
                                <a class="category-link" href={`/category/${category}`}>
                                    {category}
                                </a>
                            </li>
                        ))}
                    </ul>
                </div>
            )
        }
        <div class="likes">
            <Image
                src={HeartSVG}
                alt="Heart icon"
                width="15"
                height="15"
            />
            <span class="count">{likesCount ?? 0}</span>
        </div>
        <div class="comments">
            <Image
                src={CommentSVG}
                alt="Comment icon"
                width="13"
                height="13"
            />
            <span class="count">{commentsCount ?? 0}</span>
        </div>
    </div>
    <div class="meta-bottom">
        <a class="author" href="/">{author.name}</a>
        <ul class="socials">
            {
                socials && socials.map(({ social, url }) => (
                    <li class="social">
                        <a href={url}>
                            <Image
                                src={socialSvgs[social]}
                                alt=`${social} social`
                                width="24"
                                height="24"
                            />
                        </a>
                    </li>
                ))
            }
        </ul>
        <FormattedDate class="date" date={pubDate} />
    </div>
</div>

<style>
    .meta-bottom {
        display: flex;
        justify-content: space-between;
        margin-top: 43px;
        padding: 19px 0 14px;
        border-top: 1px solid var(--color-border-2);
        border-bottom: 1px solid var(--color-border-2);
    }
    .categories {
        display: flex;
        gap: 5px;
    }
    .categories-list {
        display: flex;
        gap: 3px;
    }
    .category {
        .category-link {
            font-size: 15px;
            font-family: var(--family-lora);
            font-style: italic;
            color: var(--color-grey-2);
        }

        &:hover .category-link {
            color: var(--color-dark);
        }
    }
    .meta-top,
    .categories,
    .likes,
    .comments {
        display: flex;
        align-items: center;
    }
    .meta-top {
        gap: 20px;
    }
    .comments,
    .likes {
        gap: 3px;

        .count {
            font-size: 15px;
            color: var(--color-grey-2);
            font-family: var(--family-lora);
            font-style: italic;
        }
    }
    .author {
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: var(--letter-spacing-default);
        color: var(--color-grey-2);

        &:hover {
            color: var(--color-black);
        }
    }
    .socials {
        display: flex;
        gap: 18px;
    }
    .date {
        font-size: 15px;
        font-family: var(--family-lora);
        font-style: italic;
        color: var(--color-grey-2);
    }
</style>
