---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";

import PostPreviewItem from "./PostPreviewItem.astro";
import ArrowSVG from "../../../public/svg/arrow.svg";

const posts = Object.values(
    import.meta.glob<MarkdownInstance<Post>>("../../pages/posts/*.md", {
        eager: true,
    }),
);

const postsList = posts
    .sort(
        (a, b) =>
            +new Date(b.frontmatter.pubDate) - +new Date(a.frontmatter.pubDate),
    )
    .slice(0, 10);
---

<section>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {
                postsList.map(({ frontmatter }, index) => (
                    <li class="swiper-slide">
                        <PostPreviewItem
                            title={frontmatter.title}
                            image={{
                                url: frontmatter.image.url,
                                thumbnail: frontmatter.image.thumbnail,
                            }}
                            alt={frontmatter.image.alt}
                            country={frontmatter.country}
                            categories={frontmatter.categories}
                            slug={frontmatter.slug}
                        />
                    </li>
                ))
            }
        </div>
        <button class="swiper-button-prev control control-next" type="button">
            <ArrowSVG class="svg" />
        </button>
        <button class="swiper-button-next control control-next" type="button">
            <ArrowSVG class="svg" />
        </button>
    </div>
</section>

<style>
    section {
        position: relative;
        margin: 0 40px;
        padding-bottom: 100px;
    }
    .swiper-container {
        overflow: hidden;
    }
    .control {
        top: 200px;
        width: 62px;
        height: 47px;
        padding: 10px;
        background-color: var(--color-white);

        &::after {
            display: none;
        }

        & + .control-next {
            transform: scaleX(-1);
        }

        .svg g > * {
            transition: var(--transition-svg);
        }

        &:hover {
            &.control-next .svg {
                line {
                    transform: scaleX(0.7);
                    transform-origin: 55% 0;
                }

                polyline {
                    translate: 5px 0;
                }
            }
            &.control-prev .svg {
                line {
                    transform: scaleX(0.7);
                    transform-origin: 55% 0;
                }

                polyline {
                    translate: 0 -5px;
                }
            }
        }
    }
    .swiper-button-prev {
        left: -40px;
    }
    .swiper-button-next {
        right: -40px;
    }
</style>

<script>
    import "swiper/css";
    import "swiper/css/navigation";

    import Swiper from "swiper";
    import { Navigation } from "swiper/modules";

    const swiper = new Swiper(".swiper-container", {
        modules: [Navigation],
        loop: true,
        slidesPerView: 5,
        spaceBetween: 9,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
