---
import type { ECategory } from "../../types/category";

import { Image } from "astro:assets";
import { normalizeStrToAmpersand } from "../../utils/utils";

interface Props {
    title: string;
    slug: string;
    image: {
        url: string;
        thumbnail?: string;
    };
    alt: string;
    country: string;
    categories: ECategory[];
}
const { title, slug, image, alt, country, categories } = Astro.props;
---

<div class="post">
    <a class="img-box" href={`/posts/${slug}`}>
        <Image
            class="img h-100"
            src={image.thumbnail ? `/${image.thumbnail}` : `/${image.url}`}
            width={280}
            height={400}
            alt={alt}
        />
    </a>
    <div class="box">
        <a
            class="country"
            href={`/destinations/${country.toLowerCase().replace(" ", "-")}`}
            >{country}</a
        >
        <h4 class="ui-post-title f-m">
            <a class="title" href={`/posts/${slug}`}>{title}</a>
        </h4>
        <ul class="categories">
            {
                categories.map((category) => (
                    <li>
                        <a
                            class="ui-post-category"
                            href={`/category/${category}`}
                        >
                            {normalizeStrToAmpersand(category)}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</div>

<style>
    .post {
        display: grid;
        grid-template: 380px 210px / 1fr;
    }
    .img-box {
        display: block;
        overflow: hidden;
        cursor: pointer;

        &:hover .img {
            transform: scale(1.04);
        }
    }
    .box {
        text-align: center;
        border: 1px solid var(--color-border-2);
        border-top: none;
    }
    .country {
        display: inline-block;
        margin-top: 25px;
        line-height: 1em;
        font-size: 44px;
        font-family: var(--family-epic-ride);
    }
    .ui-post-title {
        padding: 5px 12% 0px;
        min-height: 5em;

        .title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .categories {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0 3px;
        margin: 11px 0 35px;
        padding: 0 12%;
    }
    .category {
        letter-spacing: var(--letter-spacing-default);
    }
</style>
