---
import type { MarkdownInstance } from "astro";
import type { Post } from "../types/post";

import BaseLayout from "../layouts/Layout.astro";
import HeroBanner from "../components/HeroBanner.astro";
import CategoriesList from "../components/CategoriesList.astro";
import TravelGuides from "../components/TravelGuides.astro";
import { EHeader } from "../types/header";
import { EFooter } from "../types/footer";

import HeroImg from "../../public/images/hero-banner.jpg";

const posts = Object.values(
    import.meta.glob<MarkdownInstance<Post>>("../pages/posts/*.md", {
        eager: true,
    }),
);

const images = Object.values(
    import.meta.glob<{ default: string }>("../../public/categories/*.png", {
        query: "url",
        eager: true,
    }),
).map((item) => item.default.replace("/public/", ""));

const categoriesSet = [
    ...new Set(posts.map(({ frontmatter }) => frontmatter.categories).flat()),
];

const categories = categoriesSet.map((category) => {
    return {
        category,
        url: images.find((url) => url.includes(category.toLowerCase())),
        count: posts.reduce((acc, cur) => {
            if (cur.frontmatter.categories.includes(category)) {
                acc += 1;
            }
            return acc;
        }, 0),
    };
});

const image = {
    url: HeroImg,
    alt: "Man standing on the rock",
};

const booksList: string[] = [
    "almost-fearless",
    "501-places",
    "new-york",
    "out-to-africa-life-cruiser",
    "wandering-educators",
    "france-in-6-days",
];
---

<BaseLayout
    title="Backpack Traveler | Categories list"
    headerType={EHeader.BASE}
    footerType={EFooter.FULL}
>
    <HeroBanner title="Categories" image={image} />
    <section class="section">
        <div class="container">
            <CategoriesList categories={categories} />
        </div>
    </section>
    <TravelGuides booksList={booksList} />
</BaseLayout>

<style>
    .section {
        padding: 110px 0 98px;
    }
</style>
