---
import type { MarkdownInstance } from "astro";
import type { Post } from "../types/post";
import type { Destination } from "../types/destination";

import { Image } from "astro:assets";

import BaseLayout from "./Layout.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import PostMeta from "../components/PostMeta.astro";
import DestinationSlider from "../components/DestinationSlider/DestinationSlider.astro";
import { EHeader } from "../types/header";

interface Props {
    frontmatter: Destination;
}

const {
    frontmatter: { image, title, destination, author, socials, pubDate },
} = Astro.props;

const posts = Object.values(
    import.meta.glob<MarkdownInstance<Post>>("../pages/posts/*.md", {
        eager: true,
    }),
);

const relatedDestinationList = posts.filter(
    ({ frontmatter }) => frontmatter.country === destination,
);

const categoriesRelatedSet = [
    ...new Set(
        posts
            .filter(({ frontmatter }) => frontmatter.country === destination)
            .flatMap(({ frontmatter }) => frontmatter.categories),
    ),
];
---

<BaseLayout title={title} type={EHeader.TRANSPARENT}>
    {
        relatedDestinationList.length >= 3 ? (
            <DestinationSlider posts={relatedDestinationList} />
        ) : (
            <div class="container">
                <Image
                    class="img"
                    src={`/${image.url}`}
                    alt={image.alt}
                    width={1300}
                    height={520}
                />
            </div>
        )
    }
    <div class="container">
        <div class="row">
            <div class="col-post">
                <article class="article">
                    <div class="post-header">
                        <span class="ui-post-destination">{destination}</span>
                        <h3 class="ui-post-title">{title}</h3>
                    </div>
                    <div class="post-body">
                        <slot />
                    </div>
                    <div class="footer">
                        <PostMeta
                            author={author}
                            socials={socials ?? []}
                            pubDate={pubDate}
                            categories={categoriesRelatedSet}
                            likesCount={0}
                            commentsCount={0}
                        />
                    </div>
                </article>
                <!-- <div class="pagination">
                    <div class="prev-post">Prev</div>
                    <div class="next-post">Next</div>
                </div> -->
            </div>
            <div class="col-aside">
                <Sidebar showCountryMap showPostNav destination={destination} />
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .img {
        margin-bottom: 60px;
        max-height: 520px;
    }

    .row {
        display: flex;
        gap: 70px;
    }

    .col-post {
        width: 75%;
    }

    .col-aside {
        width: 25%;
    }

    .article {
        margin-bottom: 30px;
    }
    .post-header {
        text-align: start;

        .ui-post-destination {
            display: inline-block;
            margin-bottom: 5px;
            color: var(--color-black);
        }

        .ui-post-title {
            margin-bottom: 41px;
        }
    }

    .footer {
        margin-top: 32px;
    }
</style>
