---
import type { Post } from "../types/post";

import { Image } from "astro:assets";

import BaseLayout from "./Layout.astro";
import HeroHeader from "../components/common/header/HeroHeader.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import PostMeta from "../components/PostMeta.astro";
import { EHeader } from "../types/header";
import { EFooter } from "../types/footer";
import { normalizeStrToAmpersand } from "../utils/utils";

interface Props {
    frontmatter: Post;
}

const {
    frontmatter: {
        title,
        slug,
        image,
        destination,
        country,
        categories,
        author,
        socials,
        pubDate,
    },
} = Astro.props;
---

<BaseLayout
    title={title}
    headerType={EHeader.BASE}
    footerType={EFooter.SHORT_BORDER}
>
    <HeroHeader type={EHeader.BASE_COMPACT} />
    <div class="container">
        <div class="row">
            <div class="col-post">
                <article class="article">
                    <Image
                        class="img"
                        src={`/${image.url}`}
                        alt={image.alt}
                        width="957"
                        height="638"
                    />
                    <div class="post-header">
                        <a
                            class="ui-post-destination"
                            href={`/destinations/${country.toLowerCase().replace(" ", "-")}`}
                            >{country}</a
                        >
                        <h3 class="ui-post-title m-m">{title}</h3>
                        <ul class="categories">
                            {
                                categories.map((category) => (
                                    <li>
                                        <a
                                            class="ui-post-category"
                                            href={`/category/${category}`}
                                        >
                                            {normalizeStrToAmpersand(category)}
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div class="post-body">
                        <slot />
                    </div>
                    <div class="footer">
                        <PostMeta
                            author={author}
                            socials={socials ?? []}
                            pubDate={pubDate}
                            categories={categories}
                            likesCount={0}
                            commentsCount={0}
                        />
                    </div>
                </article>
                <!-- <div class="pagination">
                    <div class="prev-post">Prev</div>
                    <div class="next-post">Next</div>
                </div> -->
            </div>
            <div class="col-aside">
                <Sidebar
                    destination={destination}
                    slug={slug}
                    showAuthor
                    showWorldMap
                    showInstagram
                    showSocials
                    showPromo
                    showLatestPosts
                    showNewsletter
                    showCategories
                />
            </div>
        </div>
    </div>
</BaseLayout>

<style>
    .row {
        display: flex;
        gap: 50px;
    }
    .col-post {
        width: 75%;
    }
    .col-aside {
        width: 25%;
    }
    .article {
        margin-bottom: 30px;
    }
    .img {
        max-height: 638px;
        margin-bottom: 40px;
        object-fit: cover;
    }
    .post-header {
        text-align: center;
    }
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    .footer {
        margin-top: 32px;
    }
</style>
