---
import type { Post } from "../types/post";

import { Image } from "astro:assets";
import BaseLayout from "./Layout.astro";
import PostMeta from "../components/PostMeta.astro";
import { EHeader } from "../types/header";

interface Props {
    frontmatter: Post;
}

const {
    frontmatter: {
        title,
        image,
        destination,
        categories,
        author,
        socials,
        pubDate,
    },
} = Astro.props;
---

<BaseLayout title={title} type={EHeader.TRANSPARENT}>
    <Image
        class="img"
        src={`/${image.url}`}
        alt={image.alt}
        width="1920"
        height="620"
    />
    <div class="container">
        <article class="article">
            <div class="post-header">
                <a class="ui-post-destination" href="/">{destination}</a>
                <h3 class="ui-post-title m-m f-l">{title}</h3>
                <ul class="categories">
                    {
                        categories.map((category) => (
                            <li class="category">
                                <a
                                    class="ui-post-category"
                                    href={`/category/${category}`}
                                >
                                    {category}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <div class="post-body">
                <slot />
            </div>
            <div class="footer">
                <PostMeta
                    author={author}
                    socials={socials ?? []}
                    pubDate={pubDate}
                    categories={categories}
                    likesCount={0}
                    commentsCount={0}
                />
            </div>
        </article>
        <!-- <div class="pagination">
                    <div class="prev-post">Prev</div>
                    <div class="next-post">Next</div>
                </div> -->
    </div>
</BaseLayout>

<style>
    .container {
        margin-top: -190px;
    }
    .article {
        margin-bottom: 30px;
        padding: 47px 130px;
        background-color: var(--color-white);
    }
    .img {
        position: relative;
        max-height: 638px;
        margin-bottom: 40px;
        object-fit: cover;
        z-index: var(--z-index--1);
    }
    .post-header {
        text-align: center;
        margin-bottom: 16px;
    }
    .categories {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    .footer {
        margin-top: 32px;
    }
</style>
